.form-control {
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgba(179,179,179,1);
    border-bottom: 1px solid white;
}

.dropdown button {
  height: 34px;
  width: 100%;
  background: linear-gradient(180deg, #ebebed , #cecfd3);
  border-radius: 10px;
  border: 1px solid #8f8f8f;
  padding-right: 34px;
}

.dropdown button>.arrow {
  border-left: 1px solid #8f8f8f;
  height: 100%;
  position: absolute;
  right: 15px;
  top: 0;
  width: 35px;
  background: url(../img/caret.svg) no-repeat center;
}

.dropdown button>.calendar {
  border-left: 1px solid #8f8f8f;
  height: 100%;
  position: absolute;
  right: 15px;
  top: 0;
  width: 35px;
  background: url(../img/calendar.svg) no-repeat center;
  background-size: 60%;
}
